@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.footer {
  text-align: center;
  height: max-content;
  width: 100%;
  background-color: #30475e;
  padding: 6rem 0 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

.contact_info {
  display: flex;
  margin: 2rem 0rem;
}

.contact_mail {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  letter-spacing: 2px;
  color: #fff;
  margin-right: 4rem;
}

.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-items: flex-start;
}

.about_heading {
  color: #fff;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 6rem;
  margin: 3rem 0rem 4.5rem 0rem;
  text-align: center;
}

.about_info {
  color: #fff;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: left;
  letter-spacing: 2px;
  line-height: 2;
}
.img_container {
  background-color: #ececec;
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  margin-left: 14rem;
  margin-top: -2rem;
  background-size: cover;
  background-position: center;

}


.copyright {
  color: #fff;
  font-family: 'ubuntu';
  font-weight: 400;
  letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
  .footer_photo {
    width: 80%;
  }
  .img_container {
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%)!important;
  }

  .about_container {
    align-items: center;
    width: 100%;
    padding: 0 2rem;
  }

  .about_info {
    width: 90%;
    text-align: justify;
  }
}

@media only screen and (max-width: 500px) {
  .about_heading {
    font-size: 2.5rem;
    line-height: 1.7;
  }
  .about_info {
    line-height: 1.7;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .footer_photo {
    width: 100%;
  }
  .contact_info {
    flex-direction: column;
  }

  .contact_mail{
    margin: 1rem;
  }
}
